{
  "extends": [
    "standard",
    "plugin:wdio/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2016,
    "sourceType": "module"
  },
  "rules": {
    "indent": [
      2,
      4
    ],
    "semi": [
      "error",
      "always"
    ],
    "comma-dangle": [
      "error",
      "only-multiline"
    ],
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["warn", { "argsIgnorePattern": "^_" }],
    "@typescript-eslint/no-var-requires": "off"
  },
  "globals": {
    "$": true,
    "$$": true,
    "browser": true,
    "driver": true
  },
  "plugins": [
    "wdio",
    "import",
    "@typescript-eslint"
  ],
  "env": {
    "jasmine": true
  }
}
